.allCars {
  text-align: center; }
  .allCars h1 {
    font-size: 42px;
    margin-top: 60px;
    margin-bottom: 40px;
    font-family: Montserrat; }
  .allCars .navBar {
    display: flex;
    justify-content: center;
    margin-bottom: 30px; }
    .allCars .navBar p {
      margin: 10px;
      font-size: 20px;
      color: grey;
      padding: 20px;
      cursor: pointer; }
    .allCars .navBar .allActive {
      border-bottom: 2px red solid; }
  .allCars .cards {
    display: flex;
    justify-content: space-between;
    padding: 0 140px; }
    .allCars .cards .card {
      width: 258px;
      border: 1px solid #f3f3f5; }
      .allCars .cards .card .imageCar {
        margin: 7px;
        min-height: 95px; }
      .allCars .cards .card .includes {
        text-align: initial;
        margin-left: 10px; }
      .allCars .cards .card .price {
        display: flex;
        justify-content: space-between;
        padding: 0 10px; }
        .allCars .cards .card .price .startingFrom {
          color: grey;
          font-size: 15px;
          margin-bottom: 2px; }
        .allCars .cards .card .price .euro {
          margin-top: 2px;
          font-weight: 700;
          font-size: 22px; }
        .allCars .cards .card .price button {
          margin: auto 0;
          background-color: #fee9e9;
          color: red;
          padding: 8px;
          border-radius: 12px;
          border: none;
          cursor: pointer; }
      .allCars .cards .card .includes div {
        display: flex; }
      .allCars .cards .card .includes p {
        margin: 5px;
        color: grey; }
  .allCars .seats {
    color: grey; }
  .allCars .carName {
    color: black;
    font-size: 20px;
    font-weight: 700;
    margin: 1px;
    font-family: Montserrat; }
  .allCars .configuration {
    color: blue;
    font-size: 15px; }
  .allCars .modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4); }
  .allCars .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    border: 1px solid #888;
    width: 819px;
    height: 350px;
    display: flex;
    border-radius: 10px;
    position: relative; }
    .allCars .modal-content .divNameCheck {
      width: 100%;
      padding: 20px; }
    .allCars .modal-content .closeX {
      position: absolute;
      right: -21px;
      height: 40px;
      width: 40px;
      cursor: pointer;
      background-color: #212121;
      color: white;
      border-radius: 50%;
      margin: auto;
      top: -19px; }
    .allCars .modal-content .divCar {
      background-color: #f1f1f5;
      padding: 30px 50px; }
      .allCars .modal-content .divCar .priceCar {
        background-color: #212121;
        color: white;
        margin: auto;
        padding: 20px;
        border-radius: 12px;
        margin-top: 41px; }
    .allCars .modal-content .checkboxDiv {
      display: grid; }
    .allCars .modal-content .divNameCheck div p {
      margin: 0;
      padding: 0;
      text-align: left;
      padding-left: 25px;
      font-size: 20px;
      font-weight: 700; }
  .allCars label {
    display: flex;
    padding: 15px;
    justify-content: space-between; }
  .allCars label div {
    display: flex; }
  .allCars .someText {
    font-size: 10px;
    font-weight: 100; }

/*# sourceMappingURL=allCars.css.map */
